<div class="mini_mylist" onclick="add(<%=my_show['id']%>,'<%=user%>')">
	<div class='mini_image'><img src="<%=my_show['image_thumbnail_path']%>"></div>
	<div class='mini_content'>
		<div class="mini_title"><%=my_show['name']%></div>
	</div>
</div>

<script type="text/javascript">
	function add(id,name){
		if(confirm("Are you sure you want to Add this show?")){
			var xhttp = new XMLHttpRequest();
			xhttp.open("POST", "save", false);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send("selected="+id+"&user="+name);
			location.assign('home?user='+name);
		}
	}
</script>