.content_section{
	color: white;
	height: 500px;
	text-align: center;
	margin: 40px 0px;
	height: auto;
}
.image{
	margin-right: 20px;
}
.image img{
	vertical-align: middle;
	height: 400px;
}
.content{
	height: 300px;
}
.title{
	font-size: 3em;
	color: #f78239;
}
.mylist{
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	box-shadow: -20px 20px rgba(0,0,0,0.2);
	background: #333;
	padding: 10px;
	width: 1100px;
	margin: 10px auto;
	padding: 30px;
}

.det_container{
	display: grid;
	grid-template-columns: auto;
	padding: 10px 30px;
}

.det{
	padding: 5px 0px;
	margin: 0px;
	text-align: left;
	font-size: 2em;
	overflow: hidden;
}


.section_title{
	font-size: 3em;
	font-weight: bold;
	margin: 0px;
}


.mini_mylist{
	display: inline-grid;
	grid-template-columns: auto auto;
	align-items: center;
	box-shadow: -10px 10px rgba(0,0,0,0.2);
	background: #333;
	max-width: 250px;
	min-width: 170px;
	text-align: center;
	margin: 10px;
}

.mini_image{
	margin-right: 5px;
}
.mini_image img{
	display: inline-block;
	vertical-align: middle;
	height: 150px;
	max-width: 100px;
}
.mini_content{
	color: white;
}
.mini_title{
	font-size: 1em;
	color: #f78239;
}
.mini_det_container{
	padding: 5px;
}

.mini_det{
	padding: 5px 0px;
	margin: 0px;
	text-align: center;
	font-size: 1em;
	overflow: hidden;
}
.running, .unavailable{
	width: 1100px;
	padding: 40px 0px;
	margin: auto;
}