@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

body{
	font-family: sans-serif;
	background: #222;
	font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.test{
	color: blue;
}


.aButton{
	position: absolute;
	right: 0px;
	top: 0px;
	border: none;
	background: #933;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
}


.details{
	float: right;
	padding: 5px 5px;
}
.searchbar{
	background: #999;
	margin-top: 10px;
	padding: 10px;
}

.searchbar input{
	padding: 0px 10px;
}
.searchbar .aButton{
	background: #339;
	position: relative;
	padding: 7px 12px;
	cursor: pointer;
}
.home{
	text-decoration: none;
	color: white !important;
	position: relative;
	background: #222;
	padding: 10px 14px;
	border-radius: 5px;
	display: inline-block;
	margin-top: 10px;

}
#removeme{
	display: none;
	background: #515;
	color: white;
	padding: 10px;
}

#removeme .aButton{
	position: relative;
	padding: 10px 15px;
}
.showsSearch{
	background: #222;
	padding: 10px;
	color: white;
	margin: 10px;
	cursor: pointer;
	border-radius: 5px;
}
#selectedSearch{
	display: none;
	background: #951;
	margin-top: 10px;
	padding: 10px;
	color: white;
}


#selectedSearch .aButton{
	background: #151;
	position: relative;
	padding: 7px 12px;
	cursor: pointer;
}